examples/Tools_Integrations/Node-RED/export_.json
[
    {
        "id": "6536176522849353",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3ccbc9e88eb29f9a",
        "type": "http request",
        "z": "6536176522849353",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://hladinomer.eu/json_output.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "520a6c9e13bf7e71"
            ]
        ]
    },
    {
        "id": "520a6c9e13bf7e71",
        "type": "json",
        "z": "6536176522849353",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "4aac3dd0425af159"
            ]
        ]
    },
    {
        "id": "01187580c8acfce3",
        "type": "inject",
        "z": "6536176522849353",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "3ccbc9e88eb29f9a"
            ]
        ]
    },
    {
        "id": "4aac3dd0425af159",
        "type": "function",
        "z": "6536176522849353",
        "name": "function 1",
        "func": "let value = msg.payload.value;\nlet status = \"\";\n\nif (value > 300) {\n    status = \"Vody je nadbytok\";\n} else if (value < 100) {\n    status = \"Vody je málo\";\n} else {\n    status = \"Vody je dostatok\";\n}\n\nmsg.payload = {\n    \"hladina\": value,\n    \"status\": status\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 220,
        "wires": [
            [
                "ee7512fb14eb86e7",
                "0e29df1a4018adf0"
            ]
        ]
    },
    {
        "id": "ee7512fb14eb86e7",
        "type": "debug",
        "z": "6536176522849353",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "0e29df1a4018adf0",
        "type": "mqtt out",
        "z": "6536176522849353",
        "name": "",
        "topic": "v1/devices/me/telemetry",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52c11bd86564f90d",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "52c11bd86564f90d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "thingsboard.cloud",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
